/* latin-ext */
@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Times.ttf')
} 
/* latin-ext */
@font-face {
  font-family: 'sans-serif';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Times.ttf')
} 
/* latin */
@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Anton-Regular.ttf')
} 
/* latin-ext */
@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Times-bold.ttf')
}

/* italic */
@font-face {
  font-family: 'display';
  font-style: 'italic';
  font-weight: 400;
  src: url('./fonts/Times-it.ttf')
}

/* oswald */
@font-face {
  font-family: "Oswald";
  src: url('./fonts/Oswald.ttf');
} 

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/eb-garamond-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/eb-garamond-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/eb-garamond-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/eb-garamond-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/eb-garamond-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/eb-garamond-v25-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

/* eb-garamond-700 - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/eb-garamond-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/eb-garamond-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/eb-garamond-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/eb-garamond-v25-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/eb-garamond-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/eb-garamond-v25-latin-700.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

/* times */
@font-face {
  font-family: 'Times';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Times.ttf');} 

/* times-it */
@font-face {
  font-family: 'Times-it';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Times-it.ttf')
} 

/* mirage */
@font-face {
  font-family: 'Mirage';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Mirage.ttf')
} 

/* tobacco */
@font-face {
  font-family: 'Tobacco';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/TobaccoRoadNF.ttf')
}

/* respira */
@font-face {
  font-family: 'Respira';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/DellaRespira-Regular.ttf')
}

/* anton */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url('./fonts/Anton-Regular.ttf')
} 
