/* latin-ext */
@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 400;
  src: url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.eot"); src: url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.woff") format("woff"), url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.svg#Times") format("svg"); } 
/* latin */
@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 400;
  src: url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.eot"); src: url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.woff") format("woff"), url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c17fb8410ab11a6f235ddf6fe97e9303.svg#Times") format("svg"); } 
/* latin-ext */
@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 700;
  src: url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.eot"); src: url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.woff") format("woff"), url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.svg#Times") format("svg"); }
/* latin */
@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 700;
  src: url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.eot"); src: url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.woff") format("woff"), url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/403840fe6f1f83c6b918479078e28a7e.svg#Times") format("svg"); }
